* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.body{
    background-color: #000000;
    color: #ffffff;
    align-items: center;
}

.header{
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-width: 100vw; */
    /* width: 100%; */
    /* width: 100vw; */
    padding: 30px;
    z-index: 100;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
}

.header-background{
    /* max-width: 100vw; */
    /* width: 100vw; */
    /* width: 100%; */
    height: 100%;
    position: absolute;
    background-image: url('./images/header-background.png');
    background-position: center;
    background-size: cover;
    opacity: 0.15;
    z-index: -1;
}

.logo-and-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.brand-logo{
    width: 300px;
    height: 60px;
    object-fit: cover;
    margin-left: 60px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


.nav-links a{
    text-decoration: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000000;
}

.nav-links a:hover{
    border-bottom: 2px solid #008cff;
}

.contact-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 60px;
    margin-right: 120px;
    background-image: linear-gradient(to right, #e28052, #be0000);
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.whatsapp-logo{
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.contact-btn p{
    font-size: 17px;
    padding-left: 13px;
    padding-right: 30px;
    color: #ffffff;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.hero-section-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* background-color: #ffffff; */
    color: #113D48;
    z-index: 100;
}

.hero-section-white h2{
    font-family: 'Montez, cursive';
    font-size: 40px;
    margin-top: 80px;
}

.hero-section-white h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    /* margin-left: 150px;
    margin-right: 150px; */
    max-width: 960px;
    width: 100%;
    text-align: center;
}

.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}

.hero-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 19px, 35px;
    gap: 10px;
    width: 206px;
    height: 64px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    transition: .3s ease;
}

.hero-btn img{
    width: 30px;
    height: 30px;
}

.one-btn{
    background-color: #e56934;
}

.one-btn:hover{
    background-color: #113d48;
}

.two-btn{
    background-color: #113d48;
}

.two-btn:hover{
    background-color: #e56934;
}

.hero-img-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-top: -220px;
    z-index: 10;
}

.hero-section-end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    background-color: #152537;
    padding: 30px 10px;
}

.hero-section-end-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
}

.hero-section-end-info-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #e56934;
    padding: 16px;
    margin-right: 24px;
    width: fit-content;
    height: fit-content;
}

.hero-section-end-info-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.hero-section-end-info-description h4{
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    margin-bottom: 16px;
}

.hero-section-end-info-description p{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* max-width: 500px; */
    color: #ffffff;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.mid-1{
    background-color: #ffffff;
    background-image: url("./images/shape_bg_1.png");
    background-position: center;
    background-size: cover;
    color: #113d48;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding: 80px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
}

.mid-1-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 36px;
}

.mid-1-text-container h2{
    font-size: 40px;
    /* font-family: ; */
    color: #113d48;
}

.mid-1-text-container h1{
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 22px;
    color: #113d48;
}

.mid-1-text-container p{
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 60px;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.mid-2{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
}

.mid-2-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 36px;
    margin-bottom: 50px;
}

.mid-2-text-container h2{
    font-size: 40px;
    /* font-family: ; */
    color: #113d48;
}

.mid-2-text-container h1{
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 22px;
    color: #113d48;
}

.mid-2-images-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.picture-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    /* border: 3px solid #000000; */
    border-radius: 30px;
    width: 300px;
    height: 470px;
    overflow: hidden;
}

.picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mid-2-btn-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 60px;
}

.mid-2-btn{
    width: 88px;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #000000;
    background-color: #ffffff;
    box-shadow: 0px 30px 50px 5px rgba(0,0,0,0.10);
    transition: .3s ease;
} 

.mid-2-btn svg{
    stroke: #000000;
}

.mid-2-btn:hover{
    background-color: #e56934;
    color: #ffffff;
    border: none;
}

.mid-2-btn:hover svg{
    stroke: #ffffff;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.mid-3{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 348px;
    /* width: 100%; */
    gap: 20px;

}

.mid-3-pictures-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* align-content: end; */
    align-content: flex-end;
    /* align-content: flex-start; */
    padding: 0px 12px;
}

.mid-3-pictures-column img{
    width: 582px;
    height: 728px;
    border-radius: 45px;
    padding-top: 12px;
}

.mid-3-pictures-column-video-container{
    display: flex;
    flex-direction: column;
    background-size: cover;
    overflow: hidden;
    width: 640px;
    height: 350px;
    border-radius: 45px;
    margin-top: -230px;
    margin-left: -60px;
    box-shadow: 0px 0px 0px 5px #ffffff;
}

/* aspect-ratio wasn't used, i managed to contain video using "background-size: cover;" */
/* .mid-3-pictures-column video{
    width: 640px;
    aspect-ratio: 16/9;
    border-radius: 45px;
    box-shadow: 0px 0px 0px 10px #ffffff;
} */

.mid-3-text-column{
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    margin-right: 130px;
    gap: 12px;
    max-width: 400px;
}

.mid-3-top-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #113D48;
}

.mid-3-top-heading h2{
    font-size: 40px;
    /* font-family: ; */
    color: #113d48;
}

.mid-3-top-heading h1{
    font-size: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 22px;
    color: #113d48;
}

.mid-3-paragraph{
    font-size: 18px;
    /* font-family: sans-serif; */
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.5; 
    word-spacing: 2px;
    color: #6e7070;
    margin-bottom: 30px;
}

.mid-3-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px;
}

.mid-3-content-container-of-three{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.img-circle-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.img-circle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 100%;
    background-color: #e9f6f9;
    width: 72px;
    height: 72px;
    margin-right: 30px;
}

.mid-3-content{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.mid-3-content h3{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: -7.7px 0px 9px;
    font-weight: 600;
    color: #113d48;
}

.mid-3-content p{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5; 
    word-spacing: 1px;
    color: #6e7070;
    margin: 0px 0px -4.8px;
}

.mid-3-content-container-btn{
    background-color: #113d48;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 19px, 35px; */
    gap: 10px;
    width: 190px;
    height: 64px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    transition: .3s ease;
}

.mid-3-content-container-btn p{
    font-size: 16px;
}

.mid-3-content-container-btn svg{
    stroke: #ffffff;
}

.mid-3-content-container-btn:hover{
    background-color: #e56934;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.mid-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 784px;
    background-image: url('./images/contact_bg_1.jpg');
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat; 
    background-color: #ffffff;
    color: #000000;
}


.mid-4-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 536px;
    height: 744px;
    padding: 0px 12px;
    margin-left: 327px;
}

.mid-4-left-text-contaiiner{
    display: flex;
    flex-direction: column;
    max-width: 284px;
    max-height: 242px;
    margin-bottom: 80px;
}

.mid-4-left-text-contaiiner h2{
    font-size: 40px;
    /* font-family: ; */
    color: #ffffff;
}

.mid-4-left-text-contaiiner h1{
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 22px;
}

.mid-4-left-text-contaiiner p{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5; 
    word-spacing: 1px;
    color: #ffffff;
    margin-bottom: 18px;
}

.mid-4-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: end;
    width: 580px;
    height: 744px;
    margin-right: 327px;
}

.mid-4-right-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0px 25px 0px 25px;
    overflow: hidden;
}

.mid-4-right-text-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #ffffff;
}

.mid-4-right-text-inner-container{
    display: flex;
    flex-direction: column;
}

.text-column{
    padding: 12px 50px 12px 25px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    /* transition: .3s ease; */
}

.text-column:focus{
    /* border: 2px solid #e0e0e0; */
    outline: 1.5px solid #e56934;
    /* outline: none; */
    border: none;
}

/* ---------------------------------------------------- */

.mid-4-right-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding-left: 30px;
    padding-right: 5px;
    gap: 20px;
    background-color: #e56934;
}

.mid-4-right-send-msg-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 64px;
    gap: 10px;
    border-radius: 30px;
    border: none;
    background-color: #ffffff;
    stroke: #113D48;
    cursor: pointer;
    transition: .3s ease;
}

.mid-4-right-send-msg-btn p{
    font-size: 16px;
    font-family: sans-serif;
}

.mid-4-right-send-msg-btn:hover svg{
    stroke: #ffffff;
}

.mid-4-right-send-msg-btn:hover{
    background-color: #113d48;
    color: #ffffff;
}

.mid-4-right-ph-no-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 64px;
    gap: 15px;
    border: none;
    background-color: #e56934;
    color: #ffffff;
}

.mid-4-right-ph-no-btn p{
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}

.mid-4-right-ph-no-btn svg{
    cursor: pointer;
}
