* {
    margin: 0;
    padding: 0;
}

.body{
    background-color: #000000;
    color: #ffffff;
    align-items: center;
}

.header{
    position: relative;
    background-color: #ffffff;
    background-position: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 30px;
    z-index: 100;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
}

.header-background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('./images/header-background.png');
    opacity: 0.15;
    z-index: -1;
}

.logo-and-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.brand-logo{
    width: 300px;
    height: 60px;
    object-fit: cover;
    margin-left: 60px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


.nav-links a{
    text-decoration: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000000;
}

.nav-links a:hover{
    border-bottom: 2px solid #008cff;
}

.contact-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 60px;
    margin-right: 120px;
    background-image: linear-gradient(to right, #e28052, #be0000);
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.whatsapp-logo{
    width: 30px;
    height: 30px;
    padding-left: 30px;
}

.contact-btn p{
    font-size: 17px;
    padding-left: 13px;
    padding-right: 30px;
    color: #ffffff;
}

/* ------------------------------------------------------------- */

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.hero-section-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* background-color: #ffffff; */
    color: #113D48;
    z-index: 100;
}

.hero-section-white h2{
    font-family: 'Montez, cursive';
    font-size: 40px;
    margin-top: 80px;
}

.hero-section-white h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    /* margin-left: 150px;
    margin-right: 150px; */
    max-width: 960px;
    width: 100%;
    text-align: center;
}

.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}

.hero-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 19px, 35px;
    gap: 10px;
    width: 206px;
    height: 64px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    transition: .4s ease;
}

.hero-btn img{
    width: 30px;
    height: 30px;
}

.one-btn{
    background-color: #e56934;
}

.one-btn:hover{
    background-color: #113d48;
}

.two-btn{
    background-color: #113d48;
}

.two-btn:hover{
    background-color: #e56934;
}

.hero-img-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin-top: -220px;
    z-index: 10;
}

.hero-section-end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    background-color: #152537;
    padding: 30px 10px;
}

.hero-section-end-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
}

.hero-section-end-info-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #e56934;
    padding: 16px;
    margin-right: 24px;
    width: fit-content;
    height: fit-content;
}

.hero-section-end-info-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.hero-section-end-info-description h4{
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    margin-bottom: 16px;
}

.hero-section-end-info-description p{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* max-width: 500px; */
    color: #ffffff;
}